* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


main{
    margin: auto;
    padding: 10px;
}

body {
    display: flex;
    height: 100vh;
    background: rgb(253, 243, 232);
}

button{
    align-items: center;
    justify-content: center;
    background-color: bisque;
    font-size: 2rem;
    font-family: monospace;
    padding: 1rem;
    transition: filter .3s;
}
button:hover{
    filter: brightness(1.1);
}

.box{
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: 3rem;
    background-color: antiquewhite;
    padding: 1.5rem;
    margin-bottom: .3rem;
}

#num {
    margin-left: 4rem;
}
.title{
    font-size: 1.5rem;
    margin-left: 2.1rem;
}